[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
django = "*"
psycopg2 = "*"
scrapy-djangoitem = "*"
lxml = "*"
django-filter = "*"
django-admin-list-filter-dropdown = "*"
sqlalchemy = "*"
ipython-sql = "*"
sklearn = "*"
matplotlib = "*"
seaborn = "*"
python-decouple = "*"

[dev-packages]
ipykernel = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
